*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    height: 200vh;
    background: #81ecec
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    background: #2abbff
}

#intro h1 {
    font-size: 3rem
}

header #intro {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 2em
}

header #intro img {
    height: 70px
}

.animated-text {
    text-align: center;
    margin-top: 3em;
    text-transform: uppercase
}

.animated-text h1 {
    animation: type 3s steps(38);
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    font-size: 3rem
}

header #logo {
    display: flex;
    justify-content: center;
    align-items: flex-start
}

header .curve {
    position: absolute;
    bottom: -100px;
    height: 100px;
    width: 100%;
    background-attachment: fixed
}

header .curve img {
    width: 100%;
    height: 100%
}

.circle {
    margin-top: 0.5em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 110px;
    font-size: 50px;
    overflow: hidden
}

.circle .fas {
    color: #fff;
    margin: 0;
    padding: 0;
    animation: animate 1s linear infinite
}

@keyframes animate {
    0% {
        transform: translateY(-50px);
        text-shadow: 0 50px 0 #fff
    }
    20% {
        transform: translateY(0px)
    }
    40% {
        transform: translateY(0px)
    }
    60% {
        transform: translateY(0px)
    }
    100% {
        transform: translateY(100px)
    }
}

.navigation {
    color: rgb(77, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    padding-bottom: 5em;
    padding-top: 120px
}

.navigation ul {
    position: relative
}

.navigation ul li {
    text-align: center;
    list-style: none
}

.navigation ul li a {
    text-decoration: none;
    color: #333;
    font-size: 8rem;
    padding: 20px 20px;
    display: inline-flex;
    font-weight: 700;
    transition: 0.5s
}

.navigation ul:hover li a {
    color: #0002
}

.navigation ul li:hover a {
    color: #000
}

.navigation ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25rem;
    color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s
}

.navigation ul li a:hover:before {
    content: attr(data-text);
    opacity: 1;
    left: 50%;
    letter-spacing: 10px;
    width: 1800px;
    height: 1800px
}

.navigation ul li:nth-child(4n + 1) a:before {
    background-color: #79a3b1
}

.navigation ul li:nth-child(4n + 2) a:before {
    background: #a29bfe
}

.navigation ul li:nth-child(4n + 3) a:before {
    background: #d0e8f2
}

.navigation ul li:nth-child(4n + 4) a:before {
    background: #ffeaa7
}

footer {
    background: #2abbff;
    padding: 6em
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

footer ul li {
    position: relative;
    list-style: none
}

footer ul li a {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #e2e2e2;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s
}

footer ul li a:hover {
    color: #999;
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.2)
}

footer ul li i {
    color: #fff;
    position: relative;
    z-index: 1
}

footer ul li a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1)
}

footer ul li:nth-child(1) a:before {
    background: #1877f2
}

footer ul li:nth-child(2) a:before {
    background: #24292e
}

footer ul li:nth-child(3) a:before {
    background: #c32aa3
}

footer ul li:nth-child(4) a:before {
    background: #ea4c89
}

footer h2 {
    text-align: center;
    margin-top: 2em
}

@keyframes type {
    0% {
        width: 0ch
    }
    100% {
        width: 38ch
    }
}

@media only screen and (max-width: 600px) {
    .animated-text h1 {
        animation: type 3s steps(38);
        display: inline-block;
        font-size: 1.4rem
    }
}