*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    height: 100vh;
    width: 100%
}

header {
    height: 20vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 6em;
    background-color: #2abbff
}

header #icon img {
    height: 100px
}

header #intro h1 {
    font-size: 10rem
}

section {
    position: absolute;
    width: 100%;
    height: calc(100% - 100px);
    background: #2abbff;
    overflow: hidden
}

.container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: auto;
    scroll-snap-type: y mandatory
}

.container .section {
    position: relative;
    width: 100%;
    height: 80%;
    scroll-snap-align: start;
    background-blend-mode: multiply
}

.container .section:nth-child(1) {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(248, 219, 219, 1) 0%, rgba(229, 248, 250, 1) 90%), url(scratch.jpg);
    background-size: cover;
    background-attachment: fixed
}

.container .section:nth-child(2) {
    background-size: cover;
    background-attachment: fixed
}

.container .section:nth-child(3) {
    background: radial-gradient( circle farthest-corner at 10% 20%, rgba(248, 219, 219, 1) 0%, rgba(229, 248, 250, 1) 90%), url(scratch.jpg);
    background-size: cover;
    background-attachment: fixed
}

.container .section .content {
    text-align: center;
    padding: 100px 80px
}

.container .section .content h2 {
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 5rem
}

.container .section .content p {
    color: #111;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 4rem
}

button {
    margin-top: 2em;
    padding: 2em;
    border-radius: 0.5px;
    outline: none;
    border: none;
    background-color: #0d324d;
    border-radius: 15px
}

button a {
    text-decoration: none;
    font-size: 3rem;
    color: #fff
}

footer {
    position: fixed;
    background: #2abbff;
    padding: 1em;
    width: 100%;
    bottom: 0;
    left: 0
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

footer ul li {
    position: relative;
    list-style: none
}

footer ul li a {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #e2e2e2;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s
}

footer ul li a:hover {
    color: #999;
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.2)
}

footer ul li i {
    color: #fff;
    position: relative;
    z-index: 1
}

footer ul li a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1)
}

footer ul li:nth-child(1) a:before {
    background: #1877f2
}

footer ul li:nth-child(2) a:before {
    background: #24292e
}

footer ul li:nth-child(3) a:before {
    background: #c32aa3
}

footer ul li:nth-child(4) a:before {
    background: #ea4c89
}

footer h2 {
    text-align: center;
    margin-top: 2em
}

@media only screen and (max-width: 600px) {
    header #intro h1 {
        font-size: 5rem
    }
    .container .section .content h2 {
        font-size: 4rem
    }
    .container .section .content p {
        font-size: 2rem
    }
    button {
        margin-top: 2em;
        padding: 1em;
        background-color: #0d324d;
        border-radius: 15px
    }
    button a {
        font-size: 2rem;
        color: #fff
    }
}