*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100%;
}

header {
    height: 20vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 6em;
    background-color: #2abbff;
}

header #icon img {
    height: 100px;
}

header #intro h1 {
    font-size: 10rem;
}

main {
    height: 50vh;
    /* min-height: 100vh; */
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 50%;
    position: relative;
    height: 50%;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 150%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    font-size: 2em;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
    transform: translateX(0%);
}

button {
    margin-top: .5em;
    padding: 1em;
    border-radius: 0.5px;
    outline: none;
    border: none;
    background-color: #0d324d;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
}

button:hover {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

footer {
    position: fixed;
    background: #2abbff;
    padding: 4em;
    width: 100%;
    bottom: 0;
    left: 0;
    /* height: 30px; */
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    position: relative;
    list-style: none;
}

footer ul li a {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #e2e2e2;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

footer ul li a:hover {
    color: #999;
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.2);
}

footer ul li i {
    color: #fff;
    position: relative;
    z-index: 1;
}

footer ul li a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

footer ul li:nth-child(1) a:before {
    background: #1877f2;
}

footer ul li:nth-child(2) a:before {
    background: #24292e;
}

footer ul li:nth-child(3) a:before {
    background: #c32aa3;
}

footer ul li:nth-child(4) a:before {
    background: #ea4c89;
}

footer h2 {
    text-align: center;
    margin-top: 2em;
}

@media only screen and (max-width: 600px) {
    header #intro h1 {
        font-size: 5rem;
    }
    button {
        margin-top: 2em;
        padding: 1em;
        background-color: #0d324d;
        border-radius: 15px;
    }
    button a {
        font-size: 2rem;
        color: #fff;
    }
}