* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    font-size: 10px;
    overflow: hidden;
}

h2 {
    text-align: center;
    padding: 5px;
    font-size: 2rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient( 109.6deg, rgb(47, 81, 192) 11.2%, rgba(119, 161, 211, 1) 91.1%);
}

p,
li {
    font-size: 1.5rem;
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left-section {
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-position: center;
    background: linear-gradient( to right, transparent, rgba(121, 203, 202, 1)), url(../images/image.png) center/cover no-repeat;
}

.right-section {
    float: right;
    height: 100vh;
    width: 50%;
    padding: 2em 2em 2em 2em;
    background-color: #81ecec;
    overflow-y: scroll;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
}

.row h3,
.education h3 {
    font-size: 1.4rem;
}

.row h4,
.education h4 {
    font-size: 1.2rem;
}

.row p,
.education p {
    font-size: 1rem;
}

.skills ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2em;
}

.skills ul li i {
    padding-right: 1em;
    font-size: 2em;
    color: #662d91;
}

.education {
    text-align: center;
    padding: 2em;
}

.certificates ul {
    list-style: none;
}

.certificates ul li a {
    text-decoration: none;
    color: black;
    font-size: .8em;
}

@media (max-width: 600px) {
    p,
    h2 {
        font-size: 2rem;
    }
    .flexbox {
        flex-direction: column;
    }
    .left-section {
        width: 100%;
        height: 50vh;
    }
    .right-section {
        width: 100%;
        height: 50vh;
    }
    .row h3,
    .education h3 {
        font-size: 1rem;
    }
    .row h4,
    .education h4 {
        font-size: .8rem;
    }
    .row p,
    .education p {
        font-size: 1rem;
    }
    .skills ul li i {
        padding-right: .5em;
    }
    .certificates ul li a {
        font-size: .6em;
    }
}