*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100%;
    /* background: #81ecec; */
    /* opacity: 0.5; */
}

header {
    height: 20vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 6em;
    background-color: #2abbff;
}

header #icon img {
    height: 100px;
}

header #intro h1 {
    font-size: 10rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    min-height: 50vh;
}

.row2 {
    flex-direction: row-reverse;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 405px;
    height: 306px;
    line-height: 3em;
    padding: 2em;
    text-align: center;
}

button {
    margin-top: 2em;
    padding: 1em;
    border-radius: 0.5px;
    outline: none;
    border: none;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border-radius: 15px;
    color: #fff;
}

button:hover {
    background-image: linear-gradient( 110.6deg, rgba(179, 157, 219, 1) 7%, rgba(150, 159, 222, 1) 47.7%, rgba(24, 255, 255, 1) 100.6%);
}

button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main img {
    width: 405px;
    /* height: 500px; */
    height: 306px;
    border-radius: 15px;
}

footer {
    /* position: fixed; */
    background: #2abbff;
    padding: 4em;
    width: 100%;
    bottom: 0;
    left: 0;
    /* height: 30px; */
}

footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    position: relative;
    list-style: none;
}

footer ul li a {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #e2e2e2;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

footer ul li a:hover {
    color: #999;
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.2);
}

footer ul li i {
    color: #fff;
    position: relative;
    z-index: 1;
}

footer ul li a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

footer ul li:nth-child(1) a:before {
    background: #1877f2;
}

footer ul li:nth-child(2) a:before {
    background: #24292e;
}

footer ul li:nth-child(3) a:before {
    background: #c32aa3;
}

footer ul li:nth-child(4) a:before {
    background: #ea4c89;
}

footer h2 {
    text-align: center;
    margin-top: 2em;
}

@media only screen and (max-width: 600px) {
    header #intro h1 {
        font-size: 5rem;
    }
}